[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = main.d3rbcp5dx3dvou.amplifyapp.com

[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = ec2-23-20-42-30.compute-1.amazonaws.com
DNS.2 = www.ec2-23-20-42-30.compute-1.amazonaws.com
DNS.3 = localhost
